#calculator {
  width: 300px;
  height: 400px;
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 5px;
  padding: 5px;
  position: absolute; /* Add this */
  top: 50%; /* Add this */
  left: 50%; /* Add this */
  transform: translate(-50%, -50%); /* Add this */
  background-color: black;
}

#screen {
  grid-column: 1 / -1;
  height: 50px;
  font-size: 36px;
  text-align: right;
  padding: 5px;
  background-color: grey;
}

.button {
  border: 1px solid black;
  background-color: lightgray;
  text-align: center;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.button:hover {
  background-color: gray;
}

.operator {
  background-color: orange;
  color: white;
}

.zero {
  grid-column: 1 / span 2;
}

#clear {
  background-color: red;
  color: white;
}

#plus-minus {
  background-color: gray;
  color: white;
}

#percent {
  background-color: gray;
  color: white;
}

#equals {
  background-color: blue;
  color: white;
}